services:
    db:
        image: postgres:13-alpine
        container_name: foodgram-db
        restart: always
        volumes:
            - postgres_data:/var/lib/postgresql/data/
        env_file:
            - ../backend/.env
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-foodgram_user}"]
            interval: 10s
            timeout: 5s
            retries: 5

    backend:
        image: carielflore/foodgram-backend:latest
        container_name: foodgram-backend
        restart: always
        volumes:
            - static_value:/app/static/
            - media_value:/app/media/
            - ../data:/app/data
        depends_on:
            db:
                condition: service_healthy
        env_file:
            - ../backend/.env

    frontend:
        build: ../frontend
        container_name: foodgram-frontend
        volumes:
            - frontend_build:/app/result_build/build

    nginx:
        image: nginx:1.25.4-alpine
        container_name: foodgram-nginx
        restart: always
        ports:
            - "8000:80"
        volumes:
            - ./nginx.conf:/etc/nginx/conf.d/default.conf
            - frontend_build:/usr/share/nginx/html/
            - ../docs/:/usr/share/nginx/html/api/docs/
            - static_value:/var/html/static/
            - media_value:/var/html/media/
        depends_on:
            - backend
            - frontend

volumes:
    postgres_data:
    static_value:
    media_value:
    frontend_build:
